@tailwind base;
@tailwind components;
@tailwind utilities;
.mapboxgl-popup-content {
  background-color: cream !important;
  padding: 0 !important;
  border-radius: 0.5rem !important;
}

.mapboxgl-popup-close-button{
  position: absolute !important;
  color: white !important;
  font-size: 2rem !important;
  font-weight: bolder !important;
  right: 1rem !important;
  top: 1rem !important;
}

.mapboxgl-popup-anchor-bottom {
  background-color: transparent !important;
}