/* src/components/StartPage.module.css */
.body {
  font-family: "Anek Gujarati", sans-serif !important;
}

.startPageContainer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.startPageHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftStartPageHeader {
  display: flex;
  align-items: center;
}

.startPageTitleHeader {
  font-size: 48px;
  font-weight: medium;
  color: black;
  margin-left: 30px;
  font-family: "Anek Gujarati", sans-serif;
}

.rightStartPageHeader {
  display: flex;
  align-items: center;
  font-family: "Anek Gujarati", sans-serif !important;
  width: 40%;
  justify-content: space-between;
  font-size: 24px;
  color: black;
}

.startPageIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Anek Gujarati", sans-serif !important;
  justify-content: space-between;
}

.startPageWelcome {
  font-size: 80px;
  font-weight: medium;
}

.startPageRising {
  font-size: 36px;
  font-weight: light;
  width: 416px;
  align-items: center;
  align-self: center;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.startPageButton {
  font-size: 20px;
  font-weight: medium;
  width: 236px;
  height: 63px;
  background-color: #f57f61;
  border-radius: 40px;
  color: white;
}
