.layersContainer {
  width: 300px; /* Ajusta el tamaño del contenedor según sea necesario */
  background-color: #333;
  color: white;
  border-radius: 8px;
  padding: 10px;
}

.categoryContainer {
  margin-bottom: 10px;
}

.categoryButton {
  width: 100%;
  background-color: #444;
  color: white;
  padding: 10px;
  text-align: left;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.categoryButton:hover,
.categoryButton.active {
  background-color: #555;
}

.dropdownContent {
  background-color: #222;
  padding: 10px;
  border-radius: 4px;
  max-height: 200px; /* Ajusta la altura máxima según sea necesario */
  overflow-y: auto;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.checkboxContainer input {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  appearance: none;
  background-color: white;
  border: 2px solid #c3c3c3;
  border-radius: 4px;
}

.checkboxContainer input:checked {
  background-color: #f57f61;
  border-color: #f57f61;
}

.checkboxContainer input:checked::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f57f61;
}

.checkboxContainer label {
  color: white;
}

.checkboxAlertsSubtitle {
  width: 90%;
  font-size: 20px;
  color: white;
}
