.navbar {
  position: fixed;
  left: 1.5rem; /* 6 * 0.25rem */
  top: 1.5rem; /* 6 * 0.25rem */
  display: flex;
}

.navbarContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.barraLateral {
  color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgba(33, 38, 43, 0.8); /* #21262b with 80% opacity */
  border-color: #f57f61;
  border-width: 1px;
  border-style: solid;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80px;
}

.menu {
  color: yellow;
  background-color: rgba(33, 38, 43, 0.8); /* #21262b with 80% opacity */
  border-color: #f57f61;
  border-width: 1px;
  border-style: solid;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  color: white;
  cursor: pointer;
  height: 9%;
}

.icon.active {
  color: #f57f61;
}

.handleContainer {
  display: flex;
  align-items: center;
}

.handle {
  width: 30px;
  height: 200px;
}
