.wholeSliderContainer {
  position: fixed;
  bottom: 1.25rem; /* 5 * 0.25rem */
  left: 50%;
  display: flex;
  height: 150px;
  width: 80%; /* 4/5 */
  transform: translateX(-50%);
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(33, 38, 43, 0.8); /* #21262b with 80% opacity */
  border-radius: 8px;
  font-size: 22px;
}

.sliderContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.leftSlider {
  width: 15%;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* font-size: 16px; */
  font-weight: 800;
  color: #f57f61;
}
.timeText {
  margin-bottom: 10px;
}

.mediumSlider {
  width: 70%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mediumSliderInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: white;
  width: 100%;
  margin-top: 10px;
}

.sliderInfoLabels {
  background-color: rgba(
    0,
    0,
    0,
    0.3
  ); /* Color #252525 con 50% de transparencia */
  padding: 8px;
  border-radius: 4px;
}

.sliderTitle {
  color: white;
  /* font-size: 18px; */
  font-weight: 800;
  text-transform: uppercase;
  color: #f57f61;
  padding-bottom: 10px;
}

.rightSlider {
  width: 15%;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* font-size: 16px; */
  font-weight: 800;
  color: #f57f61;
}
